body{
    background-color:rgba(16, 43, 83)
    }
    
     h1{
    color: rgb(255, 255, 255) ;
    font-family:Times 'Times New Roman', Times, serif ;
    background:rgba(16, 43, 83) ;
    }
    
    p{
    color:rgb(87, 173, 194);
    font-family:arial ;
    font: size 60px;
    background:rgba(16, 43, 83) ;
    }