body{
    background-color:rgba(221, 45, 45, 0.979)
    }
    
    h1{
        color: rgb(0, 0, 0) ;
        font-family: arial ;
        background: ;
        }


    p{
        color:rgb(0, 0, 0);
        font-family:arial ;
        font-size:arial ;
        background: ;
    }