body{
    background-color:rgb(255, 255, 255)
    }
    
    h1{
        color: rgb(98, 127, 160) ;
        font-family: arial ;
        background: ;
        }


    p{
        color:rgb(0, 0, 0);
        font-family:arial ;
        font-size:arial ;
        background: ;
        }
        
    li{color:rgb(104, 161, 235);
        font-family:arial ;
        font-size:arial ;
        background: ;
        }