body{
    background-color:rgba(221, 45, 45, 0.979)
    }
    
     h1{
    color: rgb(255, 123, 0) ;
    font-family: arial ;
    background: ;
    }
    
    p{
    color:rgb(193, 247, 0);
    font-family:arial ;
    font-size:arial ;
    background: ;