.cabecalho{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
     
    }
body{
    background-color:rgba(255, 255, 255, 0.979);
    }
    
     h1{
    color: rgb(98, 146, 179) ;
    font-family: arial ;
    background: ;
    }
    
    p{
    color:rgb(255, 255, 255);
    font-family:arial ;
    font-size:arial ;
    background: rgba(255, 255, 255, 0.979);
    }

    li{
    color:rgb(255, 255, 255);
    font-family:arial ;
    font-size: 50px ;
    background: ;
    }
